.container {
  display: grid;
  height: 100vh;
  grid-gap: 15px;

  grid-template-columns: 1fr 2fr 2fr;
  grid-template-rows: 0.5fr 2fr auto 2fr;
  grid-template-areas: 
    "header header header"
    "content1 content1 content1"
    "content2 content2 image"
    ". content3 content3"
  ;
}

.logo {
  grid-area: header;
}

header {
  grid-area: header;
}

#content1-form {
  background-color: #E4E4E4;
  grid-area: content1;
  display: grid;
  float: left;
}

#content1 {
  background-color: #E4E4E4;
  grid-area: content1;
}

#content2 {
  grid-area: content2;
}

#content3 {
  grid-area: content3;
}

#content4 {
  grid-area: content4;
}

#sidemenu {
  grid-row: 2;
  grid-column: 1;
}

#webdesign {
  grid-row: 2;
  grid-column: 2;
}

#editorial {
  grid-row: 2;
  grid-column: 3;
}

#painting {
  grid-row: 3;
  grid-column: 2;
}

#photography {
  grid-row: 3;
  grid-column: 3;
}

#photo {
  grid-area: image;
}

#textbox {
  grid-area: image;
  margin-top: -40%;
  padding-right: 20px;
}


/* media queries mobile */
@media only screen and (max-width: 768px){
  .container {
    width: 100%;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 2fr 2fr 2fr 2fr;
    grid-template-areas:
      "header"
      "content1"
      "content2"
      "content3"
      "content4"
    ;
  }

  #sidemenu {
    display: none;
  }

  #webdesign {
    grid-area: content1;
  }
  
  #editorial {
    grid-area: content2;
  }
  
  #painting {
    grid-area: content3;
  }
  
  #photography {
    grid-area: content4;
  }

  #textbox {
    grid-area: content2;
    margin-top: 0;
  }

}

/* media queries tablet */
@media only screen and (max-width: 900px){
  .container {
    width: 100%;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 2fr 2fr 2fr 2fr;
    grid-template-areas:
      "header"
      "content1"
      "content2"
      "content3"
      "content4"
    ;
  }

  #sidemenu {
    display: none;
  }

  #webdesign {
    grid-area: content1;
  }
  
  #editorial {
    grid-area: content2;
  }
  
  #painting {
    grid-area: content3;
  }
  
  #photography {
    grid-area: content4;
  }

  #textbox {
    grid-area: content2;
    margin-top: 0;
  }
}
