/* grid */

.container {
    display: grid;
   


    grid-template-areas: 
    "header header header"
    "sidemenu content1 content2"
    "filler content3 content4";
}

nav {
    grid-area: header;
}

.logo {
    grid-area: header;
  }

#sidemenu {
    background-color: #E4E4E4;
    grid-area: sidemenu;
    display: grid;
    justify-content: center;
}

#content1 {
    background-color: #e4e4e4;
    grid-area: content1;
    display: grid;
    justify-content: center;
}

#content2 {
    background-color: #E4E4E4;
    grid-area: content2;
    display: grid;
    justify-content: center;
}

#content3 {
    grid-area: content3;
    display: grid;
    justify-content: center;
}

#content4 {
    grid-area: content4;
    display: grid;
    justify-content: center;
}


/* showcase */

#magazine {
    grid-area: content1 / content1 / content4 / content4;
    display: grid;
    justify-content: center;
}

#desktop {
    grid-area: content1 / content1 / content2 / content2;
    display: grid;
    place-items: center;
}

#mobile {
    grid-area: content3 / content3 / content4 / content4;
    display: grid;
    place-items: center;
}

#gallery {
    grid-area: content1 / content1 / content4 / content4;
    place-items: center;
}


/* responsive */

@media only screen and (max-width: 900px){
    .container {
 

        grid-template-columns: 1fr;
        grid-template-rows: 0.4fr 1.5fr 1.5fr;

        grid-template-areas: 
        "nav"
        "content1"
        "content2"
        "content3"
        "content4";
    }
}
