.container {
  display: grid;
  height: 100vh;
  grid-template-columns: 1fr 2fr 2fr;
  grid-template-rows: 0.5fr 2fr 2fr;
  grid-template-areas: 
    "nav nav nav"
    "content1 content1 content1"
    "content2 content2 content2"
  ;
}

nav {
  grid-area: nav;
}

#content1 {
  background: #E4E4E4;
  grid-area: content1;
}

#content2 {
  background: #64ffda;
  grid-area: content2;
}




@media only screen and (max-width: 768px){
  .container {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 2fr 2fr 2fr 2fr;
    grid-template-areas:
      "nav"
      "content1"
      "content2"
    ;
  }
}
