@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@800&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* header + navbar */

li, a {
    font-family: 'Montserrat', sans-serif;
    color: black;
    font-weight: 500;
    font-size: 18px;
    text-decoration: none;
    padding-top: 20px;
}

nav a:hover {
    border-bottom: 2px solid #CB218E;
}

nav .current {
    border-bottom: 2px solid #CB218E;
}
  


.logo {
    cursor: pointer;
    width: 150px;
}

.menu {
    padding-top: 20px;
}

.menu, a {
    list-style: none;
    color: grey;
}


/* socials */

.fa-facebook {
    background: white;
    color: #8105D8;
  }

.fa-instagram {
    background: white;
    color: #8105D8;
}


/* content */
.top {
    background-color: #E4E4E4;
    min-height: 450px;
}

.bottom {
    background-color: white;
    margin-left: 100px;
    margin-top: 50px;
    min-height: 400px;
    width: 700px;
    font-size: 26px;
    font-family: 'Montserrat', sans-serif;
}

h1 {
    color: #CB218E;
    font-family: 'Raleway', sans-serif;
    font-size: 75px;
    align-self: center;
}

.title{
    padding-top: 175px;
    padding-left: 50px;
    display: inline-flex;
}

.title2{
    padding-top: 100px;
    padding-left: 50px;
    display: inline-flex;
}

.intro_pic {
    display: inline-flex;
    float: right;
    height: 325px;
    margin-right: 75px;
    margin-top: 150px; 
    box-shadow: -12px 13px 0px 5px #8105D8;
}

.button {
    background-color: #8105D8;
    border: none;
    border-radius: 24px;
    color: white;
    padding: 15px 32px;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin-top: 25px;
  }

  /* mijn werk */

.content_pics {
      max-width: 400px;
      padding-top: 40px;
      padding-bottom: 40px;
}

.OM {
    display: inline-flex;
    float: left;
    height: 325px;
    margin-left: 75px;
    margin-top: 50px; 
    box-shadow: 12px 13px 0px 5px #8105D8;
}

.photo {
    display: inline-flex;
    float: right;
    height: 325px;
    margin-left: 75px;
    margin-top: 50px; 
    box-shadow: -12px 13px 0px 5px #CB218E;
}

.about {
    margin-left: 50px;
    margin-top: 20px;
    width: 700px;
    font-size: 26px;
    font-family: 'Montserrat', sans-serif;
    display: inline-flex;
}

.mail {
    margin-left: 50px;
    margin-top: 20px;
    width: 700px;
    font-size: 26px;
    font-family: 'Montserrat', sans-serif;
    display: inline-flex;
    float: left;
}