@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@800&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

li, a {
    font-family: 'Montserrat', sans-serif;
    color: black;
    font-weight: 500;
    font-size: 18px;
    text-decoration: none;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 10%;
}

.logo {
    cursor: pointer;
    width: 150px;
}

.nav__links {
    list-style: none;
}

.nav__links li {
    display: inline-block;
    padding: 0px 20px;
}


.fa-facebook {
    background: white;
    color: #8105D8;
  }

.fa-instagram {
    background: white;
    color: #8105D8;
}

.top {
    background-color: #E4E4E4;
    min-height: 300px;
}

.bottom {
    background-color: white;
    min-height: 300px;
}

h1 {
    color: #CB218E;
    font-family: 'Raleway', sans-serif;
    font-size: 80px;
}